# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# ==========================================
# REGRAS DO PIPELINE DE DADOS (ETL)
# ==========================================

# 1. Ignorar os dados brutos e PDFs (evita repositórios pesados)
data_pipeline/raw_data/
*.pdf

# 2. Ignorar chaves de API e credenciais de banco de dados
data_pipeline/.env
.env
env.json

# 3. Ignorar ambientes virtuais e cache do Python
data_pipeline/venv/
data_pipeline/.venv/
__pycache__/
*.pyc